.container  {
	font-family: 'Pangolin', cursive;
	color: black;
}

.form-inline{
	margin: 20px auto 50px auto;
	text-align: center;
}
.mainArea {
	text-align: center;
}

.row {
	text-align: center;
	border: 1px solid black;
}

.img-rounded {
	width: 140px;
	margin: 10px auto;
	
}

#chatArea {
	margin: 50px auto;
}